*.aliases
builds/RPS Tools/RPS Installer/Volume
RPS Tools/EJECUTABLE
RPS Tools/EJECUTABLE curva rps teórica
RPS Tools/EJECUTABLE curva rps teórica
RPS Tools/EJECUTABLE
RPS Tools/EJECUTABLE curva rps teórica
RPS Tools/RPS
config.ini
QMH/PantherScan.My Computer.bin
Electronics upgrade v5/Project Backups
PD Signal conditioning/Project Backups
PD Signal conditioning/CAD/Signal conditioning PCB.err
*.workspace
